body {
  background-color:black
}
h1  {
  text-align: center;
   color: red;
    font-size: 100

}
p{
    text-align: center;
     color: white;
     font-size: 50
}
h2  {
  text-align: center;
   color: red;
    font-size: 100

}
